forget-password {
  ion-content {
    background-color: rgb(246, 246, 246) !important;
  }

  .form-container {
    width: 85%;
    margin: auto;
    padding-top: 80px;

    .text-container {
      width: 100%;
      text-align: right;
      margin-top: 5px;
      margin-bottom: 5px;
      padding-right: 5px;
      float: right;
      color: rgb(112, 112, 112);
      font-size: 14px;
    }

    .text-container {
      span {
        margin-left: 10px;
        color: rgb(87, 180, 239);
      }

      .span-left {
        float: left;
      }
    }
  }
}
