fine-costs {
  .right-end {
    float: right;
  }

  .text-center {
    text-align: center;
  }

  .text-left {
    float: left;
    text-align: left;
  }

  .item-container {
    margin-bottom: 10px;
    display: flex;
    flex: rtl;
    background-color: rgb(239, 239, 239);
    color: rgb(112, 112, 112);
    font-size: 12px;
    border-radius: 5px;

    p {
      margin: 0px;
    }

    .location-text {
      font-size: 14px;
    }

    .cost-text {
      padding-left: 5px;
      color: rgb(87, 180, 239);
      span {
        color: rgb(112, 112, 112);
      }
    }
  }
}
