repair-card {
  .card-header {
    background-color: dodgerblue;
    
    p {
        font-size: 16px;
        font-weight: bold;
        color: white;
    }
    .right-end {
      float: right;
    }
  }


  h2.text-title {
    font-size: 16px !important;
    // font-weight: bold;
    color: #777;
    margin-top: 10px !important;
  }

  h2.text-value {
    font-size: 16px !important;
    font-weight: bold;
    margin-top: 10px !important;
    margin-right: auto;
    margin-left: auto;
  }
}
