<ion-content>
  <ion-grid class="edit-bar-container">
    <ion-row class="edit-bar-wrapper">
      <ion-col class="item-wrapper" col-6 (click)="edit()">
        <ion-icon class="edit-icon" name="create">
          <span>تغییرات</span>
        </ion-icon>
      </ion-col>
      <ion-col class="item-wrapper" col-6 (click)="remove()">
        <ion-icon class="remove-icon" name="trash">
          <span>حذف سرویس</span>
        </ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
