vehicle-menu {
  ion-header {
    .profile-header {
      height: 46px;
      display: flex;
      direction: rtl;
      border-bottom: 1px solid rgb(255, 176, 0);
      box-shadow: none;
      img {
        width: 28px;
        height: 28px;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 25px;
        margin-left: 15px;
        border-radius: 50%;
      }
      div {
        height: 14px;
        line-height: 14px;
        margin: auto;
        margin-right: 0px;
        text-align: center;
        color: rgb(112, 112, 112);
      }
      span {
        display: inline-block;
        vertical-align: middle;
        line-height: 14px;
        font-size: 14px;
      }
    }

    .vehicle-header {
      height: 40px;
      .vehicle-header-container {
        display: flex;
        direction: rtl;
        margin: auto;
        img {
          width: 28px;
          height: 28px;
          margin: auto;
          border-radius: 50%;
        }
        div {
          height: 14px;
          line-height: 14px;
          margin: auto;
          margin-right: 30px;
          margin-left: 30px;
          text-align: center;
          color: rgb(112, 112, 112);
        }
        span {
          display: inline-block;
          vertical-align: middle;
          line-height: 14px;
          font-size: 14px;
        }
        ion-icon {
          margin: auto;
        }
      }
    }
  }

  .toolbar-title {
    height: 60px;
    text-align: center;
    color: rgb(112, 112, 112);
    p {
      margin-top: 10px;
    }
  }

  .toolbar-background {
    background-color: white !important;
  }

  ion-content {
    background-color: white !important;
  }

  .menu-btn {
    min-width: 100px;
    min-height: 100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0%;
    font-weight: bold;
    font-size: 16px;
  }

  .btn-container {
    background-color: rgb(246, 246, 246);
    height: 110px;
    border-radius: 5px;
    box-shadow: 1px 2px 2px rgb(207, 207, 207);
    text-align: center;
    font-size: 18px;
  }

  .text-container {
    color: rgb(112, 112, 112);
    font-size: 14px;

    ion-icon {
      color: rgb(82, 136, 209);
      margin-top: 30px;
      font-size: 28px;
    }
    p {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }

  .centered-text {
    text-align: center;
  }
}
