<ion-content>
    <ion-list>
        <ion-item class="title-item">
            <ion-label>
               انتخاب تصویر
            </ion-label>
        </ion-item>
        <ion-item class="option-item" (click)="selectCamera()">
            <ion-label>
                دوربین
            </ion-label>
        </ion-item>
        <ion-item class="option-item" (click)="selectGallery()">
            <ion-label>
                گالری
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>