vehicle-costs {
  .ion-ios-gasstation,
  .ion-md-gasstation {
    content: url(../../assets/icon/fuel-station-pump.svg);
    width: 36px;
    height: 48px;
    padding: 6px 4px 2px;
    opacity: 0.9;
  }

  .ion-ios-driverfine,
  .ion-md-driverfine {
    content: url(../../assets/icon/driver-fine.svg);
    width: 48px;
    height: 48px;
    padding: 6px 4px 2px;
    opacity: 0.9;
  }

  .ion-ios-moneyicon,
  .ion-md-moneyicon {
    content: url(../../assets/icon/money.svg);
    width: 48px;
    height: 48px;
    padding: 6px 4px 2px;
    opacity: 0.9;
  }

  .btn-add {
    margin-right: 10px;
    font-size: 30px;
  }

  .btn-back {
    margin-right: 10px;
    font-size: 20px;
  }
}
