repair-receipts {
  img {
    width: 75px !important;
    height: 100px !important;
    border-radius: 0px !important;
  }

  h2 {
    font-size: 18px !important;
  }

  p {
    font-size: 14px !important;
  }

  ion-slide.swiper-slide {
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .slide-zoom {
    background: #f8f8f8;
  }
  .thumb-img {
    flex-shrink: 0 !important;
    min-width: 75% !important;
    min-height: 75% !important;
    margin-top: auto !important;
    margin-bottom: auto !important;
    padding: 10px;
  }
}
