repair-receipts {
    img {
        width: 75px !important;
        height: 100px !important;
        border-radius: 0px !important;
    }

    h2 {
        font-size: 18px !important;
    }

    p {
        font-size: 14px !important;
    }
}