cars-menu-popover {
  width: contents;
  color: rgb(112, 112, 112);

  p {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    direction: rtl;
    padding-right: 10px;
  }

  span {
    margin-right: auto;
    margin-left: 10px;
    color: #5288d1;
  }

  .add-car-container {
    width: 100%;
    margin: 0px;
    padding: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #ddd;
    ion-icon {
      margin: auto;
      font-size: 18px;
    }
  }
}
