repair-receipt-detail {
  .card-header {
    background-color: rgb(252, 171, 78);

    p {
      font-size: 18px;
      font-weight: bold;
      color: white;
    }
  }

  .right-end {
    float: right;
  }

  ion-label {
    margin: 0px !important;
  }

  .receipt-total-item {
    border-top: 1px solid #DDD;
  }

  .item-name-text {
    color: #555;
  }

  .item-quantity-text {
    font-weight: bold;
  }

  .item-cost-text {
    font-weight: bold;
  }
}
