services-list {
    .btn-add {
      margin-right: 10px;
      font-size: 30px;
    }
  
    .right-end {
      float: right;
    }
  
    .ion-ios-checked-car,
    .ion-md-checked-car {
      content: url(../../assets/icon/checked-car.svg);
      width: 48px;
      height: 64px;
      padding: 6px 4px 2px;
      opacity: 0.9;
    }
  }
  